.search-bar-container {
  width: 100%;
  padding: 20px;
  background-color: #222;
}

.search-form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  gap: 10px;
}

.search-input {
  flex: 1;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #333;
  border-radius: 20px;
  background-color: #333;
  color: #fff;
  outline: none;
}

.search-input:focus {
  border-color: #e50914;
  background-color: #444;
}

.search-input::placeholder {
  color: #aaa;
}

.search-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #e50914;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #f40612;
}
